/nginx/log/*.log
/db/data/*
!/db/data/.gitkeep
.DS_Store
*/.DS_Store
/code/*
!/code/.gitkeep
/redis/data/*
!/redis/data/.gitkeep
/mysql/data/*
!/mysql/data/.gitkeep
/php/log/*.log
/www/*
!/www/.gitkeep
.env
/nginx/conf/vhost.d/*
!/nginx/conf/vhost.d/default.conf.sample